# Environments
.env
venv/
env/
__pycache__/

# Data & Databases
*.db
*.duckdb
*.parquet

# Ignore the data folder content by default...
data/*

# ...BUT allow the folder itself and the stats.json file
!data/.gitkeep
!data/stats.json

# Airflow Logs
logs/
airflow-webserver.pid